@import './../../breakpoints.scss';

.switchContainer {
	background-color: var(--green1);
	border: none;
	border-radius: 18px;
	height: 32px;
	position: relative;
	width: 51px;
	@include for-tablet-portrait-up {
		display: none;
	}
}

.circle {
	background-color: var(--white);
	border-radius: 50%;
	height: 28px;
	left: 22px;
	position: absolute;
	right: 22px;
	top: 2px;
	transition: left 0.2s ease-in, right 0.2s ease-in;
	width: 28px;

	&.inactive {
		left: 2px;
	}

	&.active {
		right: 2px;
	}
}
