input {
	outline-color: var(--gray3);
}

.input {
	background: var(--white);
	border: 1px solid var(--gray3);
	border-radius: 4px;
	font-size: 16px;
	padding: 16px;
	width: 100%;
}

.error {
	border-color: var(--red1);

	&:focus {
		outline-color: var(--red1);
	}
}

.textError {
	color: var(--red1);
	font-size: 12px;
	font-weight: bold;
}

::-ms-input-placeholder {
	color: var(--gray4);
}

::placeholder {
	color: var(--gray4);
}
