@import './../../breakpoints.scss';

.textTitle {
	color: var(--gray1);
}

.productItem {
	align-items: center;
	border-bottom: 1px solid var(--gray5);
	display: grid;
	gap: 10px 0;
	grid-template-columns: 60px 1fr 50px;
	grid-template-rows: max-content;
	padding: 24px 0;
}

.textDescription {
	color: var(--gray2);
	font-size: 14px;
	grid-column-end: 4;
	grid-column-start: 2;
}

.textButton {
	background-color: transparent;
	border: none;
	color: var(--gray4);
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	grid-column-start: 2;
	text-align: start;
	@include for-tablet-portrait-up {
		display: none;
	}
}

.buttonToggle {
	display: none;
	@include for-tablet-portrait-up {
		align-items: center;
		cursor: pointer;
		display: flex;
		background-color: transparent;
		border: none;
		color: #6f7dff;
		font-size: 12px;
		font-weight: bold;
		justify-content: space-around;
		grid-column: 2 / 2;
		max-width: 105px;
	}
}

.switch {
	@include for-tablet-portrait-up {
		display: none;
	}
}

.iconArrow {
	display: none;
	@include for-tablet-portrait-up {
		display: inline;
	}
}
